sebm-google-map {
  height: 500px;
}

div {
  color: #387ef5;
}

.markerButton {
  border: 1px solid black;
  border-radius: 15px;
}

.new {
  sebm-google-map-marker {
    background-color: blue;
  }
}

.infoWindow {
  text-align: center;
  .iWindowTitle {
    color: seagreen;
    margin-bottom: 0;
  }
  .iWindowDetails {
    color: darkblue;
  }
}
