// // body {
// //   background-color: colors(secondary);
// // }
//
// ion-header {
//   .header {
//     .header-md::after {
//       bottom: 0px !important;
//     }
//   }
//   ion-navbar {
//     padding: 0 !important;
//     margin-bottom: 0 !important;
//   }
//   ion-title {
//     background-image: url("https://s-media-cache-ak0.pinimg.com/originals/77/32/ad/7732ad8a1e91ad63185394b98bf33cb7.jpg");
//     text-align: center;
//     background-size: cover;
//     font-family: 'Bangers', cursive;
//     h1 {
//       font-size: 70px !important;
//     }
//   }
// }
//
// ion-content {
//   ion-card {
//     margin-bottom: 25px !important;
//   }
//   ion-card-title {
//     font-size: 40px !important;
//   }
//   h4  {
//     font-size: 20px !important;
//   }
// }
//
// .scroll-content {
//
//   text-align: center;
//   font-family: 'Bangers', cursive;
//   background-color: black;
//   margin-bottom: 40px !important;
//
//   h1 {
//     font-size: 70px !important;
//   }
// }
//
// label {
//   color: #387ef5;
// }
//
// input {
//   margin-bottom: 10px;
// }
//
// button {
//   margin-bottom: 10px;
// }

.newButton {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 30px;
  bottom: 3%;
  right: 3%;
  border-radius: 50%;
  background-color: rgb(53, 147, 143);
  color: white;
  z-index: 2;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    filter: grayscale(85%);
    transition: all 500ms ease-in-out;

    &:active {
      filter: grayscale(0%);

    }
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 3em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.9em;
    position: absolute;
    top: 56%;
    width: 100%;
    color: rgb(222, 255, 215);
  }

}

.menuButton {
  font-size: 2em;
  color: black;
  // background-color: rgb(53, 147, 143);
  border: solid 3px rgb(53, 147, 143);
  background-color: white;
  width: 60%;
  margin: 3% auto;
}
//
// .header {
//   background-color: red;
// }
//
// .navbar {
//   background-color: red;
// }
// ion-header  {
//   box-shadow: none !important;
//   background-color: rgb(210, 226, 231) !important;
// }
