
html {
  overflow-y: auto;
}

.newButton {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 30px;
  bottom: 3%;
  right: 3%;
  border-radius: 50%;
  background-color: map-get($colors, secondary-accent);
  color: white;
  z-index: 2;

}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    filter: grayscale(85%);
    transition: all 500ms ease-in-out;

    &:active {
      filter: grayscale(0%);

    }

    &:hover {
      filter: grayscale(0%);
    }

    img {
      object-fit: fill;
      @media screen and (max-width: 460px) {
        object-fit: none;
      }
    }

    .image-container {
      height: 220px;
    }
  }

.home-container {

}

ion-menu {
  ion-header {
    ion-toolbar {

      ion-title {
      span.menu {
        display: block;
        margin-left: 70px !important;
      }
    }
    }
  }
}

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 3em;
    width: 100%;
    font-weight: bold;
    font-style: oblique;
    color: #fff;
    font-family: "Futura";
  }

  .card-subtitle {
    font-size: 1.9em;
    position: absolute;
    top: 56%;
    width: 100%;
    color: rgb(222, 255, 215);
  }

}

.menuButton {
  margin-top: 3%;
  width: 100%;
  margin: 5% auto;
  padding: 10%;
  font-size: 1.5em;
  color: white !important;
}

span.menu {
  font-size: 50px;
  margin-left: 30px;
}


ion-list {
  text-align: center;
}

ion-label {
  color: black;
}

h5 {
  margin-top: 0;
}



.item {
  // margin: 1%;
  // margin: auto;
  width: 100%;
  transition: .5s;
  padding: 10px;
  .item-inner {
    padding-right: 0;
  }
}

.item-md.item-block .item-inner {
  padding-right: 0;

}

.highlighted {
  background-color: map-get($colors, accent);
  transition: .5s;
  .label {
    color: white;
  }
}

.menuHeader {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 2%;
}

//
// .header {
//   background-color: red;
// }
//
// .navbar {
//   background-color: red;
// }
// ion-header  {
//   box-shadow: none !important;
//   background-color: rgb(210, 226, 231) !important;
// }
