add-spot {
  text-align: center;

}

.nextButton {
  // position: absolute;
  // bottom: 10px;
  width: 90%;
  margin: 3% auto;
}

.cameraButton {
  margin-top: 3%;
  width: 90%;
  margin: 5% auto;
  padding: 10%;
  font-size: 1.5em;
}


.locationButton {
  padding: 10%;
  width: 90%;
  font-size: 1.5em;
  color: white !important;
  transition: all 500ms ease-in-out;
  margin-top: 20%;
  &:active {
    background-color: rgb(71, 203, 151);
    color: black;
  }
}


map {
  height: 90vh;
}

.addHeader {
  color: black;
  margin-top: 30%;
  margin-bottom: 15%;
}

.addListItem {
  border-bottom: 1px solid rgba(198, 85, 111, 0.62);
  margin: 5%;
  transition: all 1s;
  font-size: 1.5em;
  &:focus {
    border-bottom: none;
  }
}
