add-spot {

}

.nextButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.cameraButton {
  margin-top: 3%;
}

.spotLocationSelection {
  text-align: center;
  button {
    height: 20vh;
    width: 80%;
    font-size: 1.5em;

  }
}

map {
  height: 90vh;
}
