add-spot {

}

.nextButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.cameraButton {
  margin-top: 3%;
}

.spotLocationSelection {
  button {
    height: 40vh;
    width: 100%;
  }
}

map {
  height: 90vh;
}
