<ion-header>

  <ion-navbar>
    <ion-title>{{spot.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img src="{{spot.image}}" alt="">
  <br>
  Features:
  <ul>
    <li *ngIf="spot.features.stairs">Stairs</li>
    <li *ngIf="spot.features.rails">Rails</li>
    <li *ngIf="spot.features.mannypad">Manual Pad</li>
    <li *ngIf="spot.features.gap">Gap</li>
    <li *ngIf="spot.features.ledge">Ledge</li>
    <li *ngIf="spot.features.bank">Bank</li>
    <li *ngIf="spot.features.wallride">Wallride</li>
    <li *ngIf="spot.features.drop">Drop</li>
    <li *ngIf="spot.features.transitions">Transitions</li>
  </ul>
  <p>{{spot.notes}}</p>
  <p>{{spot.comments}}</p>
  <p>{{spot.stokeMeter}}</p>
  <p>{{spot.fiveOMeter}}</p>

  <spot-detail-map-view [markerLat]="spot.lat" [markerLon]="spot.lon" [spot]="spot"></spot-detail-map-view>

</ion-content>
