



@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Barrio|Bowlby+One|Bowlby+One+SC|Open+Sans+Condensed:300');

p {
  color: black;
}

span.fancyFont{

  font-family: 'Alfa Slab One', cursive;
  color: rgb(54, 43, 50);
}

meter{
  width: 100%;
  margin-bottom: 15px;
}

meter::-webkit-meter-bar {

  background: lighten(salmon, 25%);

}


meter::-webkit-meter-optimum-value {
  background: lighten(rgb(53, 147, 143), 10%);

}
