




@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');

p, ul {

  color: white;
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  li{


    display: inline;
    &:after{
      content: ", "
    }
    &:last-child:after{
      content: " "
    }
  }
}

.grid {
  display: flex;
  justify-content: space-between;

}

span.fancyFont{

  font-family: 'Open Sans', sans-serif;
  color: lighten(map-get($colors, highlight), 35%) !important;
  font-weight: 800;
  font-size: 1.4em;
  display: block;
  margin-top: 15px;
}

div.meters {
  margin-top: 25px;
}
  // font-style: oblique;
  // font-size: 1.25em;

span {

}
.negMargin{
  margin-left: -2.4em;
  // font-size: 3em;
  font-family: 'Bangers', cursive;
}

ion-title {
  span.navheader {
    text-align: center !important;
  }
&.title-md {
  display: flex;
  align-content: center;

  div.toolbar-title-md {
    // font-family: 'Open Sans', sans-serif !important;
    margin-left: -.5em;
    // font-size: 2.4em;
    font-weight: 800 !important;
    font-family: 'Bangers', cursive !important;
    letter-spacing: 3px;
  }
}
  color: rgb(54, 43, 50);
}

.toolbar-title-md {
  text-align:center;

}
meter{
  width: 100%;
  margin-bottom: 15px;
}

meter::-webkit-meter-bar {

  background: map-get($colors, secondary);

}


meter::-webkit-meter-optimum-value {
  background: map-get($colors, accent);

}
