<!--
  Generated template for the Map component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<hr>
<h4>Map</h4>
<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClick($event)">
  <div *ngFor="let spot of spots">
    <sebm-google-map-marker
      [latitude]="spot.lat"
      [longitude]="spot.lon"
      [markerDraggable]="false"
      [openInfoWindow]="true">
      <sebm-google-map-info-window>
        <h5>{{spot.name}}</h5><br>
        <a>Spot Details</a>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </div>
  <!--vvv NEW MARKER ON USER CLICK vvv-->
  <div class="new" *ngIf="newSpot != null">
    <sebm-google-map-marker
      [latitude]="newSpot.lat"
      [longitude]="newSpot.lon"
      [markerDraggable]="newSpot.draggable"
      [openInfoWindow]="true"
      [iconUrl]="iconImg">
      <sebm-google-map-info-window>
        Do you want to add this spot?
        <div class="markerButton">Add Spot</div>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </div>
 </sebm-google-map>

<!-- <div *ngIf="clickedLat != null && clickedLon != null">
Clicked Lat: {{clickedLat}} || Clicked Lon: {{clickedLon}}
</div> -->
