<!--
  Generated template for the Map component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<hr>
<h4>Map</h4>
<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClick($event)">
  <div *ngFor="let marker of markers">
    <sebm-google-map-marker
      [latitude]="marker.markerLat"
      [longitude]="marker.markerLon"
      [label]="'S'"
      [markerDraggable]="marker.isDraggable"
      [openInfoWindow]="marker.openInfoWindow">
      <sebm-google-map-info-window>
        Do you want to add this spot?
        <div class="markerButton">Add Spot</div>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </div>
 </sebm-google-map>

<div *ngIf="clickedLat != null && clickedLon != null">
Clicked Lat: {{clickedLat}} || Clicked Lon: {{clickedLon}}
</div>
