

<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapDraggable]="true">
  <div *ngFor="let spot of filteredSpots">
    <sebm-google-map-marker
      [latitude]="spot.lat"
      [longitude]="spot.lon"
      [markerDraggable]="false"
      [openInfoWindow]="true">
      <sebm-google-map-info-window>
        <div class="infoWindow">
          <h5 class="iWindowTitle">{{spot.name}}</h5><br>
          <a class="iWindowDetails" (click)="viewSpotDetails(spot)">Spot Details</a>
        </div>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </div>
 </sebm-google-map>
